.detail {
  box-shadow: 0 2px 8px rgb(0 0 0 / 20%);
  /* border-bottom-left-radius: 1rem;
  border-bottom-right-radius: 1rem; */
  border-radius: 1rem;
}

.detail .content {
  text-align: center;
  padding-bottom: 2rem;
}
.detail img {
  width: 100%;  
}